h1 {
    color: #F0F7F4;
    margin-bottom: 100px;
    font-size: 100px;
}
body {
    background: #3C493F;
    color: #7E8D85;
}
p {
    color: #B3BFB8;
}
a {
    color: #A2E3C4;
}
img {
    height: 299px;
}
a:hover {

}
a:visited{
    
}